.questioncard {
  margin: 5rem;
  padding: 5rem;
  background-color: #00299b;
}

.question {
  width: 100%;
  margin: 1rem 0;
  text-align: left;
  color: white;
  font-weight: bold;
}

.questions {
  width: 80%;
  max-width: 950x;
  margin: 5rem auto;
  margin-bottom: 3rem;
  & + .add {
    margin-top: 0;
  }
}
