.questioncard {
  margin-top: 5%;
  width: 120%;
  height: 500%;
  padding: 5%;
  margin-left: 0%;
  background-color: #00299b;
  margin-right: 5%;
}
.question {
  width: 100%;
  text-align: left;
  color: white;
  font-weight: bold;
}
