@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.card_Question {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 15px;
  margin-left: 25%;
}
.label_Card {
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  text-align: center;
  background-color: $primary-blue;
  padding: 5px;
}
.delete {
  float: right;
  width: 30px;
  margin-right: 4%;
  margin-top: 0.3%;
  cursor: pointer;
}
.Question_label {
  color: white;
  text-align: center;
  margin-left: 5%;
  padding-top: 0.2rem;
  font-weight: 800;
  display: inline-block;
}

.Question_text {
  margin-left: 20%;
  height: 40px;
  margin-top: 4%;
  width: 55%;
  outline: none;
  border: none;
  border-bottom: 2px $primary-blue solid;
  margin-bottom: 0.5rem;
}

.Question_Keywords {
  margin-left: 20%;
  height: 40px;
  margin-top: 4%;
  width: 55%;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px $primary-blue solid;
  margin-bottom: 0.5rem;
  display: block;
  margin-bottom: 4%;
}

.read_select {
  margin-left: 20%;
  height: 40px;
  margin-top: 4%;
  width: 55%;
  outline: none;
  border: none;
  border-bottom: 2px $primary-blue solid;
  border-radius: 0px;
  padding: 1px;
}

.answer_select {
  margin-left: 20%;
  height: 40px;
  width: 55%;
  margin-top: 4%;
  outline: none;
  border: none;
  border-bottom: 2px $primary-blue solid;
  border-radius: 0px;
  padding: 1px;
}
.add {
  position: relative;
  top: -1rem;
  margin-left: calc(36% - 75px);
  width: 150px;
  height: 40px;
  margin-bottom: 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

.save-position {
  position: relative;
  top: -1rem;
  margin-left: calc(23% - 75px);
  width: 150px;
  height: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}
