@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.dataContainer {
  margin-bottom: 1rem;
}

.applicants_list {
  width: 95%;
  margin: 0 auto;
}

.detailscard {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: none;
  height: auto;
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  border-radius: 15px;
}

.positioncard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.app_interviewdate {
  display: inline-block;
}

.detailsLabel {
  margin-left: 3%;
  margin-bottom: 0;
  font-weight: bold;
  color: $primary-blue;
  display: flex;
  font-size: 1.2rem;
  margin-right: 0.3rem;
  display: inline-block;
}

.evaluate_label {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $primary-blue;
  font-weight: bold;
}

.info {
  display: inline-block;
  font-size: 20px;
  min-width: 0;
}

.answers {
  margin: 0 auto;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

@media only screen and (max-width: 768px) {
  .info {
    display: block;
    padding-left: 11px;
  }
  .detailsLabel {
    display: block;
  }
}
