@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.password-inputs {
  font: inherit;
  display: flex;
  width: 80%;
  border: none;
  border-bottom: 1px solid $primary-blue;
  padding: 0.15rem;
  margin-bottom: 1.5rem;
  margin-left: 12%;
  margin-top: 4%;
  outline: none;
}
.password-card {
  width: 40%;
  padding: 4% 4%;
  margin-left: 28%;
  margin-top: 10%;
}

.changepass-label {
  color: $primary-blue;
  margin-bottom: 2rem;
  margin-left: calc(50% - 125px);
}

.change-pass {
  margin-left: calc(50% - 65px);
  width: 130px;
  height: 40px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}
