@import '../../sassConfig/colors';
@import '../../sassConfig/transition';
body {
  background-color: #edf1f5;
}
.pName {
  text-align: center;
  color: $primary-blue;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.detailsCard {
  max-width: 450px;
  cursor: pointer;
  padding-top: 0.8rem;
  margin-left: calc(50% - 225px);
  margin-bottom: 1rem;
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

.images {
  width: 100px;
  margin: 1rem;
  display: inline-block;
}
.cardLabel {
  text-align: center;
  // margin-left: 3%;
  color: $primary-blue;
  font-size: x-large;
  font-weight: bold;
}
.cardLabel:hover {
  color: $primary-blue;
}
.labelContainer {
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 34%;
}
