@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.profilecard {
  width: 70%;
  max-width: 500px;
  padding: 1.5rem 2rem;
  margin: 3rem auto;
}

.tailspin {
  display: flex;
  margin-left: 10%;
  width: 240px;
}
.save {
  width: 240px;
  height: 40px;
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}
.phoneInput {
  margin-left: 12%;
}
.change-inputs {
  font: inherit;
  display: flex;
  width: 80%;
  border: none;
  border-bottom: 1px solid $primary-blue;
  padding: 0.15rem;
  margin-bottom: 1.5rem;
  margin-left: 12%;
  margin-top: 4%;
  outline: none;
}
.disabled-inputs {
  cursor: not-allowed;
  font: inherit;
  display: flex;
  width: 80%;
  border: none;
  border-bottom: 1px solid $primary-blue;
  padding: 0.15rem;
  margin-bottom: 1.5rem;
  margin-left: 12%;
  margin-top: 4%;
  outline: none;
}
.profile-label {
  color: $primary-blue;
  margin-bottom: 2rem;
  text-align: center;
}

.change-label {
  margin-left: 12%;
  font-weight: bold;
  color: $primary-blue;
}

.changepass {
  width: 240px;
  width: 70%;
  height: 40px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary-blue;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  color: $primary-blue;
  font-weight: 500;
  font-size: 1.1rem;
}

@media only screen and (max-width: 670px) {
  .changepass {
    width: 75%;
    margin: 1rem auto;
  }
  .tailspin {
    justify-content: center;
  }
  .save {
    width: 75%;
    margin: 1rem auto;
  }
}
