@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.Qtext {
  display: block;
  // margin: 5%;
  // margin-left: 23%;
  margin: 1.4rem auto; //center div right and left
  //   border: none;
  //   border-bottom: 1px solid rgb(78, 78, 78);
  height: 30px;
  width: 80%;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(78, 78, 78);
  padding: 1rem;
}
.Next {
  margin-left: calc(50% - 60px);
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

.Selectingform {
  width: 100%;
  padding-top: 120px;
}

.cardQuestion {
  margin-left: 37%;
  width: 65%;
  height: 320px;
  margin-top: 4rem;
  max-width: 330px;
  display: inline-block;
}

.change .navbar {
  left: 0;
}
.change .burger_container {
  background: rgba(0, 0, 0, 0.3);
}
.rotate-icon .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}
.rotate-icon .bar2 {
  opacity: 0;
}
.rotate-icon .bar3 {
  -webkit-transform: rotate(42deg) translate(-9px, -8px);
  transform: rotate(42deg) translate(-9px, -8px);
}
