@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.interview-page {
  display: flex;
  margin-top: 4%;
}

.buttons {
  margin-left: calc(45% - 75px);
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

.questions {
  width: 90%;
  padding: 7px;
  height: auto;
}

.questionTitle {
  text-align: center;
  color: $primary-blue;
  font-weight: bold;
  display: block;
  width: 100%;
  font-size: 1.1rem;
}

.video {
  width: 35%;
  min-width: 370px;
  height: fit-content;
  height: -moz-fit-content;
  margin: 3rem;
  margin-top: 0;
}

.answertimer {
  color: $primary-blue;
  width: 100%;
  margin-bottom: 0.2rem;
  font-weight: bolder;
  text-align: center;
  display: block;
  font-size: large;
}

.readCard {
  width: 100px;
  padding: 10px;
  margin-left: calc(45% - 50px);
  margin-top: 1.5rem;
}

.questions {
  margin: 0;
}

.readtimer {
  color: $primary-blue;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.questionspart {
  flex-grow: 1;
}
