@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.applicants_card {
  max-width: 450px;
  cursor: pointer;
  height: 100px;
  padding-top: 0.8rem;
  margin-left: calc(50% - 225px);
  width: 90%;
  margin: 1rem auto;
}

.positioncard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.app_name {
  color: $primary-blue;
  font-size: large;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    color: $primary-blue !important;
  }
}

.app_interviewdate {
  display: inline-block;
}

.labels {
  margin-left: 3%;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: $primary-blue;
  display: inline-block;
  margin-right: 0.3rem;
}

.evaluate_label {
  text-align: center;
  margin-top: 1rem;
  color: $primary-blue;
  font-weight: bold;
  font-size: xx-large;
}
