@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.welcome_animation {
  width: 40%;
}

.welcome_container {
  display: flex;
  margin-top: 5.5rem;
}

.startInterview_btn {
  width: 200px;
  margin-left: calc(50% - 100px);
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

.welcome_appName {
  font-size: 2rem;
  text-align: center;
}

.welcome_logo {
  font-weight: bolder;
  color: $primary-blue;
  font-family: 'Baskerville Old Face';
  font-size: 2.5rem;
}

.start_interview {
  text-align: center;
  font-size: 1.5rem;
}

.info_container {
  height: 50%;
  padding: 2rem;
  padding-bottom: 2rem;
  width: 45%;
  margin-top: 7rem;
  margin-left: 10%;
}

@media screen and (max-width: 900px) {
  .welcome_container {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .info_container {
    margin-bottom: 3rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
  }
  .welcome_animation {
    width: 90%;
    margin-left: 5%;
  }
  .welcome_appName {
    font-size: 1.3rem;
  }
  .welcome_logo {
    font-size: 1.8rem;
  }
  .start_interview {
    font-size: 1.1rem;
  }
}
