$primary-blue: hsl(215deg, 79%, 42%);
$ligh-blue: hsl(215deg, 79%, 62%);
$dark-blue: #1b61c2;
$gradient-blue: hsl(250deg, 79%, 42%);
$secondary-pink: #ff80ac;
$hover-gray: #9ab8df;
$background-grey: #e9efff;
