@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.questionsCard {
  width: 70%;
  margin-bottom: 2rem;
  box-shadow: none;
  display: block;
  margin: 2rem 0;
  padding: 1.3rem;
  background: transparent;
  border: 2px $primary-blue solid;
}

.questionsCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.pos_name {
  color: $primary-blue;
  font-size: x-large;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.details-values {
  display: inline-block;
}

.details-labels {
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: $primary-blue;
  display: inline-block;
  margin-right: 0.3rem;
}

.expiryDate {
  color: $primary-blue;
  font-size: 1.7rem;
  margin-top: 2.2rem;
}

.keywords {
  display: inline-block;
  margin-right: 10px;
}

.detailsContainer {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.position-title {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: $primary-blue;
}

.position-body {
  width: 90%;
  margin: 1rem auto;
}

.questions-title {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: $primary-blue;
}

.question-number {
  display: inline;
}

.question-statement {
  display: inline;
  padding-bottom: 0.8rem;
}

.question-body {
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 670px) {
  .expiryDate {
    text-align: center;
  }
  .questions-title {
    text-align: center;
  }
  .questionsCard {
    margin: 1.3rem auto;
  }
}
