@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.questionStatement {
  width: 100%;
  height: auto;
  background-color: $primary-blue;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.questionsList {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.questionsCard {
  width: 30%;
  margin-bottom: 2rem;
  box-shadow: none;
  display: block;
  cursor: pointer;
  margin: 2rem 2.6%;
  margin-left: 35%;
  padding-bottom: 1rem;
}

.questionsCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.pos_name {
  color: $primary-blue;
  font-size: x-large;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pos_expirydate {
  display: inline-block;
}

.pos_CandidatesNo {
  display: inline-block;
}

.pos_Finishedinterviews {
  display: inline-block;
}

.detailsLabels {
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: $primary-blue;
  display: inline-block;
  margin-right: 0.3rem;
}

.expiryDate {
  width: 291px;
  padding: 5px;
  color: white;
  margin-left: calc(50% - 145px);
  border-radius: 10px;
}
.keywords {
  display: inline-block;
  margin-right: 10px;
}
.detailsContainer {
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.pName {
  text-align: center;
  font-size: xx-large;
  color: $primary-blue;
}
