@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.verify {
  display: flex;
  position: relative;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}

.VerificationModal {
  position: fixed;
  top: 30vh;
  left: 30%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
}

.verification-header {
  color: $primary-blue;
  padding: 1rem;
  text-align: center;
}
.key {
  display: block;
  width: 60%;
  margin-left: 20%;
  border: none;
  margin-top: 3%;
  border-bottom: 2px solid $primary-blue;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  outline: none;
}
.ok {
  width: 120px;
  height: 40px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}
.resend {
  width: 120px;
  height: 40px;
  display: inline-block;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  border: 2px solid $primary-blue;
  color: $primary-blue;
  font-weight: 500;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
