@import '../../sassConfig/colors';

.card_Question {
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 15px;
  margin-left: 50%;
}

.Question_label {
  background-color: rgb(182, 173, 173);
  color: $primary-blue;
  width: 28px;
  border-radius: 50px;
  height: 30px;
  text-align: center;
  padding-top: 0.2rem;
  font-weight: 800;
  display: inline-block;
}

.Question_text {
  margin-left: 7rem;
  height: 60px;
  width: 53%;
  outline: none;
  border-radius: 10px;
  border: 2px $primary-blue solid;
  padding: 5px;
  margin-bottom: 0.5rem;
}

.Question_Keywords {
  margin-left: 9.2rem;
  height: 60px;
  width: 53%;
  outline: none;
  border-radius: 10px;
  border: 2px $primary-blue solid;
  padding: 5px;
  margin-bottom: 0.5rem;
  display: block;
}

.label {
  width: 20%;
  display: inline-block;
  font-size: small;
  margin-left: 10rem;
  margin-bottom: 1.5rem;
}

.read_select {
  height: 40px;
  width: 30%;
  outline: none;
  border-radius: 10px;
  border: 2px $primary-blue solid;
  padding: 5px;
}

.answer_select {
  height: 40px;
  width: 30%;
  outline: none;
  border-radius: 10px;
  border: 2px $primary-blue solid;
  padding: 5px;
}
