@import '../../sassConfig/colors';
@import '../../sassConfig/transition';
#header {
  display: inline-block;
  margin-left: 5%;
}
.goInterview {
  margin-left: calc(50% - 75px);
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-blue;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  @include transition;
  &:hover {
    border: 2px solid $primary-blue;
    background-color: white;
    color: $primary-blue;
  }
  &:disabled,
  &[disabled] {
    background-color: gray;
    color: black;
  }
}
#link {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-right: 10%;
  padding: 0 0.8em;
  border-radius: 5px;
}

// #employee {
//   width: 100%;
//   height: 700px;
//   display: inline-block;
//   margin-top: 19%;
// }

#text {
  font-size: 25px;
  display: block;
  width: 100%;
  padding: 1em 0;
  margin-bottom: 0.5rem;
}
#animation {
  width: 500px;
  margin-top: 0%;
  display: inline-block;
  height: 500px;
  margin-left: 8%;
}
#employeeform {
  width: 100%;
  padding: 2rem;
}

.cardemployee {
  margin: 0 auto;
  // display: flex;
  width: 75%;
  margin-top: 5rem;
  max-width: 550px;
}
