@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.photo {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.positions-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}
.dashboard-label {
  color: $primary-blue;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.positioncard {
  width: 28%;
  margin-bottom: 2rem;
  box-shadow: none;
  margin: 2rem 2.6%;
}

.positioncard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.pos_name {
  color: $primary-blue;
  font-size: x-large;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pos_name:hover {
  color: $primary-blue;
}
.pos_expirydate {
  display: inline-block;
}

.pos_CandidatesNo {
  display: inline-block;
}

.pos_Finishedinterviews {
  display: inline-block;
}

.labels {
  margin-left: 3%;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: $primary-blue;
  display: inline-block;
  margin-right: 0.3rem;
}

.expired {
  width: auto;
  margin-right: 7%;
  margin-top: 1%;
  color: white;
  background-color: red;
  float: right;
  padding: 5px;
  border-radius: 10px;
}
.available {
  width: auto;
  margin-right: 7%;
  margin-top: 1%;
  color: white;
  background-color: green;
  float: right;
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .positions-list {
    display: block;
  }

  .positioncard {
    width: 75%;
    margin: 3rem auto;
  }
}
