.mobile-burger-buttons {
  display: none;
  position: fixed;
  top: 17px;
  left: 3vw;
  height: 21px;
  z-index: 100;
}

.mobile-burger-button {
  background-color: white;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  position: relative;
  margin-top: 10px;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  &.black {
    background-color: black;
    &::before {
      background-color: black;
    }
    &::after {
      background-color: black;
    }
  }
  &::before {
    content: '';
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    top: -6px;
    background-color: white;
    width: 20px;
    height: 2px;
    z-index: 100;
  }
  &::after {
    content: '';
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    top: 6px;
    background-color: white;
    width: 20px;
    height: 2px;
    z-index: 100;
  }
}

@media only screen and (max-width: 670px) {
  .mobile-burger-buttons {
    display: block;
  }
}
