.mobile-burger-buttons {
  display: none;
  position: fixed;
  top: 17px;
  left: 3vw;
  height: 21px;
  z-index: 10;
}

.mobile-burger-button {
  background-color: white;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  position: relative;
  margin-top: 10px;
  &::before {
    content: '';
    position: absolute;
    top: -6px;
    background-color: white;
    width: 20px;
    height: 2px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    background-color: white;
    width: 20px;
    height: 2px;
  }
}

@media only screen and (max-width: 670px) {
  .mobile-burger-buttons {
    display: block;
  }
}
