@import '../../sassConfig/colors';

.navbar-sidemenu {
  position: fixed;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 15;
  display: none;
  &__logo {
    color: $primary-blue;
    text-align: center;
    margin-top: 0.9rem;
  }
  &.clicked {
    left: 0;
  }
  &__nav {
    width: 100%;
    &__ul {
      list-style-type: none;
      margin-top: 1.5rem;
      &:last-child {
        border-bottom: 2px rgba(0, 0, 0, 0.3) solid;
      }
      &__li {
        color: $primary-blue;
        font-size: 1.4rem;
        padding: 0.5rem 1.2rem;
        border-top: 2px rgba(0, 0, 0, 0.3) solid;
        cursor: pointer;
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .navbar-sidemenu {
    display: block;
    transition: left 0.3s ease-in-out;
  }
}
