@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.header {
  width: 100%;
  display: flex;
  background-color: $primary-blue;
  &__logo {
    width: 20%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
  }
  &__navbar {
    width: 100%;
    display: flex;
    &__ul {
      list-style: none;
      margin-left: auto;
      display: flex;
      color: #aeaeae;
      // padding: 1rem;
      font-size: 1.2rem;
      //border: 2px white solid;
      margin-right: 5rem;
      border-radius: 5px;
      padding: 0;
      height: 35px;
      margin-top: 1rem;
      &__li {
        &:nth-child(2) {
          cursor: pointer;
          height: 20px;
          color: #aeaeae;
          &:hover {
            color: white;
          }
        }
        padding: 0 0.3rem;
        font-weight: 500;
        & .user-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          //margin-top: 0.7rem;
        }
      }
    }
  }
}
.guest__ul {
  list-style: none;
  margin-left: auto;
  display: flex;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  &__li {
    &__login {
      cursor: pointer;
      font-weight: bold;
      margin: 0 1rem;
      height: 40px;
      display: flex; // Make content centered
      justify-content: center;
      align-items: center;
      &:hover {
        color: grey;
      }
    }
    &__signup {
      display: inline;
      border: 2px white solid;
      border-radius: 50px;
      cursor: pointer;
      font-weight: bold;
      background-color: white;
      color: $primary-blue;
      width: 120px;
      height: 40px;
      text-align: center;
      display: flex; // Make content centered
      justify-content: center;
      align-items: center;
      margin: 0 1rem;
      @include transition;
      &:hover {
        background-color: $primary-blue;
        color: white;
      }
    }
    &__interview {
      cursor: pointer;
      font-weight: bold;
      margin: 0 1rem;
      height: 40px;
      display: flex; // Make content centered
      justify-content: center;
      align-items: center;
    }
  }
}
#toggle-icon {
  cursor: pointer;
  display: table;
  margin-top: 1rem;
  margin-left: 2rem;
}
.bar1,
.bar2,
.bar3 {
  background-color: white;
  width: 40px;
  height: 4px;
  transition: 0.5s;
  margin: 7px 0;
}

#panel {
  padding-bottom: 1rem;
  text-align: center;
  background-color: $primary-blue;
  width: 20%;
  display: inline-block;
  border-bottom-right-radius: 25px;
}

#panel {
  display: none;
}
.elements {
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
}
.elements:hover {
  background-color: $gradient-blue;
}
