@import '../../sassConfig/colors';

.header {
  width: 100%;
  display: flex;
  margin-left: 5%;
  &__logo {
    width: 20%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
  }
  &__navbar {
    width: 100%;
    display: flex;
    &__ul {
      list-style: none;
      margin-left: auto;
      display: flex;
      color: white;
      padding: 1rem;
      font-size: 1.2rem;
      &__li {
        &:first-child {
          padding-top: 0.5rem;
          display: inline;
        }
        padding: 0 0.3rem;
        font-weight: 500;
        & .user-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: inline;
        }
      }
    }
  }
}
.guest__ul {
  list-style: none;
  margin-left: auto;
  display: flex;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 1%;
  margin-left: 55%;
}
.guest__ul__li__signup {
  display: inline;
  margin-right: 10%;
  border:4px white solid;
  padding: 1%;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  width: 5%;
  background-color: white;
  color: $primary-blue;
  height: 20px;
}
.guest__ul__li__signup:hover {
  background-color:$primary-blue ;
  color: white;
}
.guest__ul__li__login {
  display: inline;
  margin-right: 10%;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
.guest__ul__li__login:hover {
  color: aliceblue;
}
.guest__ul__li__interview {
  display: inline;
  margin-right: 10%;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}