@import '../../sassConfig/colors';

.header {
  width: 100%;
  display: flex;
  &__logo {    
    width: 20%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
  }
  &__navbar {
    width: 100%;
    display: flex;
    &__ul {
      list-style: none;
      margin-left: auto;
      display: flex;
      color: white;
      padding: 1rem;
      font-size: 1.2rem;
      &__li {
        &:first-child{
          padding-top: 0.5rem;
        }
        padding: 0 0.3rem;
        font-weight: 500;
        & .user-avatar { 
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
  }
}
