.NoInfo_img {
    width: 170px;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: calc(50% - 85px);
    margin-top: 12rem;
}
  
.NoInfo-title {
    color: rgb(158, 157, 157);
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    font-size: larger;
}
.NoInfo-text {
    color: rgb(190, 189, 189);
    text-align: center;
    margin-top: 2%;
    font-size: large;
  }
  