@import '../../sassConfig/colors';

.navbar {
  background-color: whitesmoke;
  top: 0;
  display: flex;
  overflow: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

.side-menu__header__logo {
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  padding-top: 0.3rem;
  padding-left: 1.5rem;
  z-index: 2;
}

.notifications-list {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.notification {
  list-style: none;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1rem;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    font-weight: 700;
  }
}

.notification_nav_link {
  text-decoration: none;
  font-size: 1rem;
  color: $primary-blue;
  font-weight: 500;

  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 2px 0;
  font-weight: inherit;
  &.read {
    color: black;
    opacity: 0.7;
  }
}

.notifications {
  position: absolute;
  width: 450px;
  background: white;
  left: -280px;
  top: 72px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  max-height: 400px;
  overflow-y: scroll;
  border-top-right-radius: 0;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    top: -20px;
    left: 284px;
  }
}

.burger-bars-wrapper {
  cursor: pointer;
}

.nav_header {
  list-style: none;
  background-color: $primary-blue;
  height: 67px;
  width: 100%;
  color: white;
  font-family: 'Baskerville Old Face';
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.5rem;
  z-index: 5;
}

.letter {
  margin: 10px auto;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.2rem;
  color: $primary-blue;
  padding-top: 5.2px;
}

.name {
  color: white;
  margin: 1rem 0;
  text-align: center;
}

.email {
  color: white;
  margin: 1rem 0;
  text-align: center;
}

.notificationImgSidemenu {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  cursor: pointer;
}

.notification_header {
  font-family: 'Baskerville Old Face';
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .nav_header {
    height: 82px;
  }

  .notifications {
    position: fixed;
    top: 64px;
    width: 100vw;
    left: 0;
    border-radius: 0;
    height: calc(100vh - 64px);
    &::before {
      display: none;
    }
  }
  .notification {
    padding: 0.7rem;
    &:last-child {
      border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    }
  }
}
