@import '../../sassConfig/colors';
@import '../../sassConfig/transition';

.position-name {
  height: 40px;
  width: 90%;
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: 2px $primary-blue solid;
  border-radius: 0px;
  padding: 1px;
}

.expiry-date {
  height: 40px;
  width: 90%;
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: 2px $primary-blue solid;
  border-radius: 0px;
  padding: 1px;
}

.position-card {
  width: 75%;
  max-width: 700px;
  margin: 2rem auto;
  margin-bottom: 5rem;
  padding: 3rem;
  & label {
    color: $primary-blue;
    display: block;
    font-size: 1.1rem;
    margin-top: 22px;
  }
}

.position-card-title {
  color: $primary-blue;
}

@media only screen and (max-width: 670px) {
  .position-card-title {
    text-align: center;
  }
}
