@import '../../sassConfig/colors.scss';

.section-1 {
  height: 500px;
  position: relative;
  display: flex;
  color:white;
  &__content {
    margin-top: 9em;
    text-align: center;
    border-top: none;
    border-bottom: 4px solid rgb(0, 0, 53);
    &__paragraph {
      text-align: center;
      font-size: 1.2rem;
      margin: 0 auto;
      width: 70%;
    }
  }
}

#container {
  padding-top: 20%;
  height: 600px;
  width: 100%;
  margin-left: 0%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  & svg {
    position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
  }
  & .shape-fill {
    fill: white;
  }
}

