* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// body {
//   background: #edf1f5;
// }

.flex {
  display: flex !important;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
@media only screen and (max-width: 670px) {
  .flex {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .top-margin {
    margin-top: 6rem !important;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
