pydub>=0.25.1
noisereduce>=2.0.0
scipy>=1.7.1
numpy>=1.20.3
sklearn>=0.0
scikit-learn>=0.24.2
moviepy>=1.0.3
SpeechRecognition
sentence-transformers
tensorflow-gpu
opencv-python-headless
tensorflow-cpu